@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi");

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.constelacao {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotate 600s infinite linear;
}

.estrela {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.estrela.style1 { animation-duration: 0.5s; animation-name: estrela; }
.estrela.style2 { animation-duration: 1s; animation-name: estrela; }
.estrela.style3 { animation-duration: 1.5s; animation-name: estrela; }
.estrela.style4 { animation-duration: 2s; animation-name: estrelaDestacada; }

.estrela.tam1 { width: 1px; height: 1px; }
.estrela.tam2 { width: 2px; height: 2px; }
.estrela.tam3 { width: 3px; height: 3px; }

.estrela.opacity1 { opacity:  1; }
.estrela.opacity2 { opacity: .5; }
.estrela.opacity3 { opacity: .1; }


.meteoro {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transform: rotate(-35deg);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.meteoro:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 85px solid white;
  position: absolute;
  left: 2px;
  top: 0;
}

.meteoro.style1 { animation-name: meteoroStyle1; }
.meteoro.style2 { animation-name: meteoroStyle2; }
.meteoro.style3 { animation-name: meteoroStyle3; }
.meteoro.style4 { animation-name: meteoroStyle4; }

@keyframes escurecer {
  0%   { top: 0; }
  100% { top: 100%; }
}

@keyframes estrela {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes estrelaDestacada {
  0% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #FFC4C4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #C4CFFF;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}


@keyframes meteoroStyle1 {
  0% { opacity: 0; right: 300px; top: 100px; }
  30% { opacity: .3; }
  60% { opacity: .3; }
  100% { opacity: 0; right: 1000px; top: 600px; }
}

@keyframes meteoroStyle2 {
  0% { opacity: 0; right: 700px; top: 100px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 600px; }
}

@keyframes meteoroStyle3 {
  0% { opacity: 0; right: 300px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1000px; top: 800px; }
}

@keyframes meteoroStyle4 {
  0% { opacity: 0; right: 700px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 800px; }
}




#app-cover
{
    /*position: absolute;*/
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: -4px auto;
}

#player
{
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active
{
    top: -92px;
}

#album-name
{
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #f86d92;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#ffe8ee;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button
{
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}

/*.button:hover
{
    background-color: #d6d6de;
}*/

.button:hover i
{
    color: #000;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

#word  {
 margin-top: 50px;
position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height: 20vh;
}

h2 {
  position: absolute;
  display: flex;
  overflow: hidden;
  font-size: 30px;
  align-items: center;
  color: white;
  margin-top: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.accessibility-animation {
  display: inline-block;
}
.accessibility-animation .middle-letters, .accessibility-animation .end-letters, .accessibility-animation .alternate-middle-letters {
  display: inline-block;
  overflow: hidden;
  height: 1.5em;
}
.accessibility-animation .end-letters {
  color: #fff;
}
.accessibility-animation .middle-letters, .accessibility-animation .alternate-middle-letters {
  color: #808080;
}
.accessibility-animation .middle-letters {
  -webkit-animation: accessibility-middle-letters-animation 5s infinite;
          animation: accessibility-middle-letters-animation 5s infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  max-width: 0;
}
.accessibility-animation .alternate-middle-letters {
  -webkit-animation: accessibility-alternate-middle-letters-animation 5s infinite;
          animation: accessibility-alternate-middle-letters-animation 5s infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  max-width: 0;
}

@-webkit-keyframes accessibility-middle-letters-animation {
  0% {
    max-width: 500px;
  }
  25% {
    max-width: 0;
  }
  75% {
    max-width: 0;
  }
  90% {
    max-width: 500px;
  }
  100% {
    max-width: 500px;
  }
}

@keyframes accessibility-middle-letters-animation {
  0% {
    max-width: 500px;
  }
  25% {
    max-width: 0;
  }
  75% {
    max-width: 0;
  }
  90% {
    max-width: 500px;
  }
  100% {
    max-width: 500px;
  }
}
@-webkit-keyframes accessibility-alternate-middle-letters-animation {
  0% {
    max-width: 0;
  }
  25% {
    max-width: 0;
  }
  50% {
    max-width: 500px;
  }
  75% {
    max-width: 0;
  }
  100% {
    max-width: 0;
  }
}
@keyframes accessibility-alternate-middle-letters-animation {
  0% {
    max-width: 0;
  }
  25% {
    max-width: 0;
  }
  50% {
    max-width: 500px;
  }
  75% {
    max-width: 0;
  }
  100% {
    max-width: 0;
  }
}

#sidebar {
    position: fixed;
    top: 0px;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
    z-index: 4;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    font-size: 1.3rem;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover{
  background-color: orange;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: 3px 0px;
}



/*iPhone X portrait*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 

body {
  height: 80vh;
}

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #151719;
    left: -300px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    font-size: 2.3rem;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 60px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover{
  background-color: orange;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 330px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 100px;
    height: 15px;
    background: #fff;
    margin: 5px 0px;
}

}

/*iPhone 6, 7, & 8 in portrait*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

body {
  height: 80vh;
}

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #151719;
    left: -300px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    font-size: 2.3rem;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 50px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover{
  background-color: orange;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 330px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 100px;
    height: 15px;
    background: #fff;
    margin: 5px 0px;
}
    

}

/*iPhone 6, 7, & 8 Plus in portrait*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
    
body {
  height: 80vh;
}

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #151719;
    left: -300px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    font-size: 2.3rem;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 60px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover{
  background-color: orange;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 330px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 100px;
    height: 15px;
    background: #fff;
    margin: 5px 0px;
}


}

/*Galaxy S6 portrait*/

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
      
body {
  height: 80vh;
}

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #151719;
    left: -300px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    font-size: 2.3rem;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 60px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover{
  background-color: orange;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 330px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 100px;
    height: 15px;
    background: #fff;
    margin: 5px 0px;
}


}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

	body {
  height: 80vh;
}

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #151719;
    left: -300px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    font-size: 2.3rem;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 50px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover{
  background-color: orange;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 330px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 100px;
    height: 15px;
    background: #fff;
    margin: 5px 0px;
}
	
}

:root {
  --space-color: #0f2437;
  --earth-water-color: #2276bc;
  --earth-land-color: #65c547;
  --earth-cloud-color: #FFF;
  --earth-rotation: 20000ms;
  --cloud-rotation: 30000ms;
  
  --moon-color: #e6e8d2;
}

.canvas {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 2%;
  width: 600px;
  height: 420px;
/*   border: 5px dashed #EFF8FF; */
  border-radius: 5px;
  background: none;
}

.stars {
  height: 500px;
  width: 100%;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* Earth */

.earth {
  margin-top: -100px;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--earth-water-color);
  top: 110px;
  left: 200px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: rotate(15deg);
  z-index: 10;
}

.earth:after {
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: inset -50px -25px rgba(0,0,0,0.2);
}

 .shine {
   margin-top: -100px;
   position: absolute;
   background-color: transparent;
   width: 100px;
   height: 100px;
   border: 20px solid #FFF;
   border-radius: 50%;
   border-top: solid 20px transparent;
   border-right: solid 20px transparent;
   border-bottom: solid 20px transparent; 
   -webkit-transform: rotate(45deg); 
           transform: rotate(45deg);
   opacity: .3;
   left: 220px;
   top: 130px;
   z-index: 12;
}

.shine::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 22px -3px 0px #FFF, 21px 82px 0px #FFF;
  left: -24px;
}

.land {
  position: absolute;
  background-color: var(--earth-land-color);
  border-radius: 20px;
}

.land-big {
  position: absolute;
  background-color: var(--earth-land-color);
  border-radius: 16px;
}

.land-join {
  position: absolute;
  background-color: var(--earth-land-color);
  height: 10px;
  width: 30px;
}

.cloud {
  position: absolute;
  background-color: var(--earth-cloud-color);
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.land-join::before {
  content: '';
  position: absolute;
  left: -5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--earth-water-color);
  box-shadow: 30px 0px 0px var(--earth-water-color);
}

/* Animate the land */

@-webkit-keyframes earth-rotation-a-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@keyframes earth-rotation-a-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@-webkit-keyframes earth-rotation-a-loop {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@keyframes earth-rotation-a-loop {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@-webkit-keyframes earth-rotation-ce-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
 
  100% {
    -webkit-transform: translate(150px);
            transform: translate(150px);
  }
}

@keyframes earth-rotation-ce-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
 
  100% {
    -webkit-transform: translate(150px);
            transform: translate(150px);
  }
}

@-webkit-keyframes earth-rotation-ce-loop {
  0% {
    -webkit-transform: translate(-350px);
            transform: translate(-350px);
  }
 
  100% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
}

@keyframes earth-rotation-ce-loop {
  0% {
    -webkit-transform: translate(-350px);
            transform: translate(-350px);
  }
 
  100% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
}

/* Animate the cloud */

@-webkit-keyframes earth-rotation-cla-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@keyframes earth-rotation-cla-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@-webkit-keyframes earth-rotation-cla-loop {
  0% {
    -webkit-transform: translate(-150px);
            transform: translate(-150px);
  }
  
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@keyframes earth-rotation-cla-loop {
  0% {
    -webkit-transform: translate(-150px);
            transform: translate(-150px);
  }
  
  100% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

@-webkit-keyframes earth-rotation-cle-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
}

@keyframes earth-rotation-cle-start {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
}

@-webkit-keyframes earth-rotation-cle-loop {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  
  100% {
    -webkit-transform: translate(150px);
            transform: translate(150px);
  }
}

@keyframes earth-rotation-cle-loop {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  
  100% {
    -webkit-transform: translate(150px);
            transform: translate(150px);
  }
}

/*  Big land NA */

.land-big.na {
  top: 30px;
  left: -30px;
  -webkit-animation-name: earth-rotation-a-start, earth-rotation-a-loop;
          animation-name: earth-rotation-a-start, earth-rotation-a-loop;
  -webkit-animation-duration: 13000ms, var(--earth-rotation);
          animation-duration: 13000ms, var(--earth-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 13000ms;
          animation-delay: 0s, 13000ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.land-big.na > .land-join {
  top: 25px;
  left: 37px;
}

.na > .l-1 {
  left: -30px;
  height: 25px;
  width: 130px;
}

.na > .l-2 {
  top: 35px;
  height: 35px;
  width: 80px;
}

/* Big land SA */

.land-big.sa {
  top: 120px;
  -webkit-animation-name: earth-rotation-a-start, earth-rotation-a-loop;
          animation-name: earth-rotation-a-start, earth-rotation-a-loop;
  -webkit-animation-duration: 13000ms, var(--earth-rotation);
          animation-duration: 13000ms, var(--earth-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 13000ms;
          animation-delay: 0s, 13000ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.land-big.sa > .land-join {
  top: 25px;
  left: 20px;
}

.sa > .l-1 {
  height: 25px;
  width: 80px;
}

.sa > .l-2 {
  top: 35px;
  height: 20px;
  width: 110px;
}

/* Big land A */

.land-big.a {
  top: 100px;
  left: 109px;
-webkit-animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
        animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  -webkit-animation-duration: 8000ms, var(--earth-rotation);
          animation-duration: 8000ms, var(--earth-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 5200ms;
          animation-delay: 0s, 5200ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.land-big.a > .land-join {
  top: 35px;
  left: 45px;
}

.a > .l-1 {
  height: 35px;
  width: 90px;
}

.a > .l-2 {
  top: 45px;
  left: 35px;
  height: 20px;
  width: 50px;
}

/* Big land CE */

.land-big.ce {
  top: 50px;
  left: 100px;
  -webkit-animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
          animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  -webkit-animation-duration: 8000ms, var(--earth-rotation);
          animation-duration: 8000ms, var(--earth-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 5200ms;
          animation-delay: 0s, 5200ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.land-big.ce > .land-join {
  top: 40px;
  left: 135px;
}

.land-big.ce > .land-join.j-2 {
  top: -10px;
  left: 105px;
}

.ce > .l-1 {
  height: 40px;
  width: 185px;
}

.ce > .l-2 {
  top: 50px;
  left: 120px;
  height: 30px;
  width: 90px;
}

.ce > .l-3 {
  top: -30px;
  left: 90px;
  height: 20px;
  width: 80px;
}

/* Set of smaller lands */

.land.ne {
  top: 25px;
  left: 95px;
  height: 15px;
  width: 40px;
  -webkit-animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
          animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  -webkit-animation-duration: 8000ms, var(--earth-rotation);
          animation-duration: 8000ms, var(--earth-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 5200ms;
          animation-delay: 0s, 5200ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.land.au {
  top: 140px;
  left: 270px;
  height: 30px;
  width: 60px;
  -webkit-animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
          animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  -webkit-animation-duration: 8000ms, var(--earth-rotation);
          animation-duration: 8000ms, var(--earth-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 5200ms;
          animation-delay: 0s, 5200ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.land.np{
  background-color: #d0e2ee;
  height: 15px;
  width: 80px;
  top: -3px;
  left: 60px;
}

.land.sp{
  background-color: #d0e2ee;
  height: 15px;
  width: 100px;
  top: 190px;
  left: 50px;
}

/* Set of cloud */

.cloud.c1, .cloud.c2, .cloud.c3, .cloud.c4  {
  height: 13px;
  width: 30px;
}

.cloud.c5, .cloud.c6 {
  height: 22px;
  width: 63px;
}

.cloud.c7, .cloud.c8  {
  height: 22px;
  width: 63px;
}

.cloud.c1 {
  top: 35px;
}

.cloud.c2 {
  top: 85px;
  left: -50px;
}

.cloud.c3 {
  top: 100px;
  left: 120px;
}

.cloud.c4 {
  top: 150px;
  left: 160px;
}

.cloud.c5 {
  top: 45px;
  left: 10px;
}

.cloud.c6 {
  top: 115px;
  left: -30px;
}

.cloud.c7 {
  top: 30px;
  left: 120px;
}

.cloud.c8 {
  top: 160px;
  left: 160px;
}

.cloud.c1, .cloud.c2 {
  -webkit-animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
          animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
  -webkit-animation-duration: 28000ms, var(--cloud-rotation);
          animation-duration: 28000ms, var(--cloud-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 28000ms;
          animation-delay: 0s, 28000ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.cloud.c3, .cloud.c4 {
  -webkit-animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
          animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
  -webkit-animation-duration: 10000ms, var(--cloud-rotation);
          animation-duration: 10000ms, var(--cloud-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 10000ms;
          animation-delay: 0s, 10000ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.cloud.c5, .cloud.c6 {
  -webkit-animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
          animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
  -webkit-animation-duration: 20000ms, var(--cloud-rotation);
          animation-duration: 20000ms, var(--cloud-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 20000ms;
          animation-delay: 0s, 20000ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

.cloud.c7, .cloud.c8 {
  -webkit-animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
          animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
  -webkit-animation-duration: 10000ms, var(--cloud-rotation);
          animation-duration: 10000ms, var(--cloud-rotation);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s, 10000ms;
          animation-delay: 0s, 10000ms;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
}

/* Moon */

.moon {
  margin-top: -80px;
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: var(--moon-color);
  -webkit-transform: scaleX(0.33) translateZ(0);
          transform: scaleX(0.33) translateZ(0);
}

.moon:after {
  content: '';
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  box-shadow: inset -10px -5px rgba(0,0,0,0.2);
}

.crater {
  position: absolute;
  border-radius: 50%;
  background-color: #d6d8b9;
  box-shadow: inset 2px 1px rgba(0,0,0,0.2), 1px 0px rgba(196,207,207);
}

/*  Set of Craters */

.crater.c1 {
  top: 20px;
  left: 13px;
  height: 15px;
  width: 15px;
}

.crater.c2 {
  top: 40px;
  left: 40px;
  height: 20px;
  width: 20px;
}

.crater.c3 {
  top: 15px;
  left: 40px;
  height: 10px;
  width: 10px;
}

.crater.c4 {
  top: 45px;
  left: 20px;
  height: 8px;
  width: 8px;
}

.ellipsis  {
  width: 150px;
  height: 150px;
  -webkit-transform: scaleX(3);
          transform: scaleX(3);
  top: 110px;
  left: 210px;
  position: absolute;
  -webkit-animation: moon-depth 25s infinite linear;
          animation: moon-depth 25s infinite linear;
}

.rotate-moon {
  width: 100%;
  height: 100%;
  -webkit-animation: rotation 25s infinite linear;
          animation: rotation 25s infinite linear;    
  -webkit-transform-origin: 50% 50%;    
          transform-origin: 50% 50%;
}

.counter-rotate-moon {
  width: 50px;
  height: 50px;
  -webkit-animation: counter-rotation 25s infinite linear;
          animation: counter-rotation 25s infinite linear;    
}

@-webkit-keyframes moon-depth {
  0% {
    z-index: 9;
  }
  80%{
    z-index: 11;
  }
  100%{
    z-index: 9;
  }
}

@keyframes moon-depth {
  0% {
    z-index: 9;
  }
  80%{
    z-index: 11;
  }
  100%{
    z-index: 9;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes counter-rotation {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes counter-rotation {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}


*,
::before,
::after {
  box-sizing: border-box;
}

.bowl {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
  height: 50px;
}
.bowl::before {
  position: absolute;
  width: inherit;
  height: inherit;
  content: "";
  -webkit-clip-path: polygon(0 100%, 7% 0, 93% 0, 100% 100%);
          clip-path: polygon(0 100%, 7% 0, 93% 0, 100% 100%);
  border-radius: 0 0 15px 15px;
  background-image: linear-gradient(to top, #c8305f 20%, #fe6c5f 20%, #fe6c5f 80%, #9b0123 80%);
  box-shadow: inset 10px -10px 20px rgba(81, 22, 18, 0.87);
}
.bowl::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "myouth";
  font-size: 1.5rem;
  color: #fff;
}

.feed {
  position: absolute;
  top: -20px;
  right: 8%;
  left: 8%;
  z-index: -1;
  width: auto;
  height: 50px;
  -webkit-clip-path: polygon(60% 8%, 79% 5%, 88% 10%, 95% 21%, 100% 100%, 0 100%, 0 29%, 13% 13%, 35% 4%);
          clip-path: polygon(60% 8%, 79% 5%, 88% 10%, 95% 21%, 100% 100%, 0 100%, 0 29%, 13% 13%, 35% 4%);
  border-radius: 50%;
  background-color: #270b09;
  box-shadow: inset 20px 10px 10px #511612;
  -webkit-animation: feedOut 2.5s cubic-bezier(0.45, -0.74, 1, -0.65) infinite;
          animation: feedOut 2.5s cubic-bezier(0.45, -0.74, 1, -0.65) infinite;
}

.dog {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -3;
}
.dog .head,
.dog .body {
  position: relative;
}
.dog .head {
  z-index: 2;
  margin: 0 auto;
  width: 115px;
  height: 115px;
}
.dog .head::before, .dog .head::after {
  position: absolute;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: -1;
  content: '';
  width: 2px;
  height: 10px;
  background-color: #443f3d;
}
.dog .head::before {
  top: -9px;
  left: 50%;
  box-shadow: 5px 1px #443f3d, -5px 2px #443f3d, 8px 5px #443f3d;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-animation: fringe 2s ease-in-out infinite;
          animation: fringe 2s ease-in-out infinite;
}
.dog .head::after {
  top: -6px;
  left: 42%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.dog .ears {
  position: relative;
  top: -14%;
  width: 100%;
}
.dog .ears::before, .dog .ears::after {
  position: absolute;
  top: 0;
  width: 35px;
  height: 70px;
  content: "";
  border-top: 11px solid #443f3d;
  border-right: 7px solid #443f3d;
  border-left: 7px solid #443f3d;
  background-color: #302c2b;
  box-shadow: inset -2px 2px 10px #151313;
}
.dog .ears::before {
  left: 1%;
  border-radius: 50% 45% 0 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.dog .ears::after {
  right: 1%;
  border-radius: 45% 50% 0 0;
}
.dog .face {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #443f3d;
  box-shadow: inset 5px 2px 20px #292625;
}
.dog .face::before, .dog .face::after {
  margin: auto;
  display: block;
  content: '';
  background-color: #fefefe;
}
.dog .face::before {
  margin-top: 35px;
  width: 15px;
  height: 25px;
  border-radius: 35% 35% 0 0;
}
.dog .face::after {
  position: absolute;
  top: 53px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 50px;
  border-radius: 35%;
  -webkit-animation: eda 0.5s linear infinite;
          animation: eda 0.5s linear infinite;
}
.dog .eyes {
  position: relative;
  top: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dog .eyes .left,
.dog .eyes .right {
  position: relative;
  width: 24px;
  height: 24px;
  border: 3px solid #0e0403;
  border-radius: 100%;
  background-color: #300d0b;
}
.dog .eyes .left::after,
.dog .eyes .right::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 50%;
  background-color: #fefefe;
}
.dog .eyes .left::before,
.dog .eyes .right::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  content: '';
  background-color: #060201;
  border-radius: 50%;
  -webkit-animation: eyes 7s ease-in-out infinite;
          animation: eyes 7s ease-in-out infinite;
}
.dog .nose {
  position: relative;
  top: 30%;
  width: 15px;
  height: 10px;
  border-radius: 20% 20% 40% 40%;
  background: #151313;
  margin: auto;
}
.dog .mouth {
  position: relative;
  top: 30%;
  width: 4px;
  height: 6px;
  margin: 0 auto;
  text-align: center;
  background: #302c2b;
}
.dog .mouth::before, .dog .mouth::after {
  position: absolute;
  top: -4px;
  z-index: 2;
  content: "";
  width: 18px;
  height: 18px;
  border: 3px solid #302c2b;
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: eda-2 0.5s ease-in-out infinite;
          animation: eda-2 0.5s ease-in-out infinite;
}
.dog .mouth::before {
  -webkit-transform: translateX(-89%) rotate(45deg);
          transform: translateX(-89%) rotate(45deg);
}
.dog .mouth::after {
  -webkit-transform: translateX(-2px) rotate(45deg);
          transform: translateX(-2px) rotate(45deg);
}
.dog .body {
  position: relative;
  margin: -75px auto 0;
  width: 90px;
  height: 150px;
  border-radius: 50% 50% 0 0;
}
.dog .body::before, .dog .body::after {
  position: absolute;
  margin: auto;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  background: #443f3d;
}
.dog .body::before {
  box-shadow: inset 5px -5px 10px #292625;
}
.dog .body::after {
  top: -2px;
  bottom: -1px;
  width: 50px;
  background: #fefefe;
}
.dog .collar {
  position: absolute;
  top: 5%;
  z-index: 1;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background-color: steelblue;
}
.dog .tail {
  position: absolute;
  bottom: 1px;
  left: -60%;
  z-index: -2;
  width: 120px;
  height: 20px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-radius: 25px 0 0 25px;
  background-color: #443f3d;
  box-shadow: inset 5px -5px 10px #1c1a19;
  -webkit-animation: tail .25s linear 5s infinite;
          animation: tail .25s linear 5s infinite;
}

@-webkit-keyframes feedOut {
  20% {
    -webkit-clip-path: polygon(52% 6%, 64% 15%, 80% 26%, 99% 26%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
            clip-path: polygon(52% 6%, 64% 15%, 80% 26%, 99% 26%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
  }
  40% {
    -webkit-clip-path: polygon(43% 16%, 58% 20%, 72% 31%, 96% 38%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
            clip-path: polygon(43% 16%, 58% 20%, 72% 31%, 96% 38%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
  }
  60% {
    -webkit-clip-path: polygon(39% 27%, 50% 41%, 70% 46%, 99% 51%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
            clip-path: polygon(39% 27%, 50% 41%, 70% 46%, 99% 51%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
  }
  80% {
    -webkit-clip-path: polygon(39% 23%, 57% 28%, 76% 29%, 96% 38%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
            clip-path: polygon(39% 23%, 57% 28%, 76% 29%, 96% 38%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
  }
}

@keyframes feedOut {
  20% {
    -webkit-clip-path: polygon(52% 6%, 64% 15%, 80% 26%, 99% 26%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
            clip-path: polygon(52% 6%, 64% 15%, 80% 26%, 99% 26%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
  }
  40% {
    -webkit-clip-path: polygon(43% 16%, 58% 20%, 72% 31%, 96% 38%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
            clip-path: polygon(43% 16%, 58% 20%, 72% 31%, 96% 38%, 100% 100%, 0 100%, 0 29%, 13% 12%, 34% 7%);
  }
  60% {
    -webkit-clip-path: polygon(39% 27%, 50% 41%, 70% 46%, 99% 51%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
            clip-path: polygon(39% 27%, 50% 41%, 70% 46%, 99% 51%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
  }
  80% {
    -webkit-clip-path: polygon(39% 23%, 57% 28%, 76% 29%, 96% 38%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
            clip-path: polygon(39% 23%, 57% 28%, 76% 29%, 96% 38%, 100% 100%, 0 100%, 0 29%, 10% 23%, 26% 18%);
  }
}
@-webkit-keyframes fringe {
  50% {
    -webkit-transform: rotate(15deg) skew(25deg);
            transform: rotate(15deg) skew(25deg);
  }
}
@keyframes fringe {
  50% {
    -webkit-transform: rotate(15deg) skew(25deg);
            transform: rotate(15deg) skew(25deg);
  }
}
@-webkit-keyframes eyes {
  40%,
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
  }
  55% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
}
@keyframes eyes {
  40%,
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
  }
  55% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
}
@-webkit-keyframes eda {
  30%,
  60% {
    bottom: 10px;
    width: 70px;
    height: 50px;
    border-radius: 35% 35% 45% 45%;
  }
}
@keyframes eda {
  30%,
  60% {
    bottom: 10px;
    width: 70px;
    height: 50px;
    border-radius: 35% 35% 45% 45%;
  }
}
@-webkit-keyframes eda-2 {
  30%,
  60% {
    margin-top: -3px;
  }
}
@keyframes eda-2 {
  30%,
  60% {
    margin-top: -3px;
  }
}
@-webkit-keyframes tail {
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes tail {
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

#nospace {
  position: relative;
  width: 0;
  height: 0;
}